<h1>Add a Match</h1>

<% if logged_in? %>

    <form id="new_match" action='/matches/new' method="post">
        <!-- Auto-assign user-id to new Match.-->
        <input type="hidden" name="match[user_id]" value="<%= current_user.id %>">

        <label>Date of Match</label>
        <input type="date" action="match[date]">
        
        <br>
        <label for="opponent">Select Opponent</label>
        <select id="opponent">
                <option><!--blank--></option>
            <% @opponents.each do |o| %>
                <option action="match[opponent_id]" value="<%= o.id %>"> <%= o.username %></option>
            <% end %>
        </select>
        <br>

        <label for="user_score">Your Score</label>
        <input type="text" action="match[user_score]">
        <br>
        <label for="opponent_score">Opponent Score</label>
        <input type="text" action="match[opponent_score]">
        <br>
        <label for="notes">Notes</label>
        <textarea rows="5" cols="30" form="new_match" action="match[user_notes]">
        </textarea>
        <br>
        <input type="submit" value="Add">
    </form>


<% else %>
    <h3>Log in to make a match.</h3>
<% end %>